@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$grey: #F3F2F0;
$red: #D40000;
$black: #010101;
$white: #FFFFFF;
$white-g: rgb(231, 230, 228);
$bla1: rgb(35, 35, 38);
$bla2: rgb(20, 20, 22);
$bla3: rgb(243, 242, 240);
$whi1: rgb(243, 242, 240);
$whi1: rgb(196, 196, 196);
$gr1: rgb(55, 55, 55);


$inter: 'Inter', sans-serif;

$windowInnerWidth: windowInnerWidth;

$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_470: 470px;
$r_mob_500: 500px;
$r_mob_540: 540px;
$r_mob_600: 600px;
$r_mob_640: 640px;
$r_mob_650: 650px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1100: 1100px;
$r_desk_hd: 1200px;

html {
    font-size: 10px;
    @media (max-width: $r_mob_400) {
        font-size: 8px;
    }
}

body {
    font-size: 1.4rem;
    font-family: $inter;
    color: $black;
    overflow-x: hidden;
}

.first {
    background-color: #E5E5E5;
}
.second {
    background-color: #F3F2F0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    &_small-400 {
        font-size: 2.8rem;
        line-height: 150%;
        font-weight: 400;
    }
    &_small-700 {
        font-size: 2.8rem;
        line-height: 150%;
        font-weight: 700;
    }
    &_big {
        font-size: 7.4rem;
        font-weight: 700;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    &__name {
        position: relative;
        @media (max-width: $r_tab) {
            font-size: 2.3rem;
        }
        @media (max-width: $r_mob_640) {
            font-size: 1.8rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 2.25rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 2rem;
        }
    }
    &_banner {
        margin-top: 3.3rem;
        margin-bottom: 8.8rem;
        position: relative;
        @media (max-width: $r_desk) {
            font-size: 5.4rem;
        }
        @media (max-width: $r_tab) {
            font-size: 4.4rem;
        }
        @media (max-width: $r_mob_640) {
            font-size: 2.8rem;
            margin-top: 2rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 3.5rem;
            margin-top: 2.5rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 3rem;
            margin-top: 1.75rem;
        }
    }
    &__portfolio {
        letter-spacing: 0;
        position: relative;
        z-index: 2;
        @media (max-width: $r_tab) {
            font-size: 6rem;
        }
        @media (max-width: $r_mob_640) {
            font-size: 4.8rem;
        }
        @media (max-width: $r_mob_470) {
            font-size: 3.6rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 4.5rem;
        }
    }
}

.description {
    line-height: 150%;
    &_big-400 {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        @media (max-width: $r_mob_470) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
    &_big-500 {
        font-size: 1.6rem;
        font-weight: 500;
        opacity: .8;
    }
    &_big-600 {
        font-size: 1.6rem;
        font-weight: 600;
    }
    &_big-700 {
        font-size: 1.6rem;
        font-weight: 700;
        @media (max-width: $r_mob_540) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
}

.line-vertical {
    opacity: 0.2;
}
.line-horisontal {
    position: relative;
    overflow: hidden;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10.5rem;
    margin-bottom: 3.8rem;
    @media (max-width: $r_mob_540) {
        margin-top: 10.1rem;
        margin-bottom: 1.9rem;
    }
    @media (max-width: $r_mob_400) {
        flex-direction: column;
        gap: 25px;
        margin-top: 14rem;
        margin-bottom: 2.375rem;
    }
}

.socials {
    max-width: 271px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    flex-basis: 35%;
    list-style-type: none;
    padding: 0;
    position: relative;
    margin: 0;
    @media (max-width: $r_mob_640) {
        gap: 15px;
    }
    @media (max-width: $r_mob_540) {
        gap: 13px;
    }
    &__link {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
            cursor: pointer;
        }
    }
}

.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 3rem calc((100vw - 1156px) / 2);
    background-color: #E5E5E5;
    transition: all .3s ease;
    z-index: 3;
    @media (max-width: $r_desk_hd) {
        padding: 3rem 18px;
        width: 100%;
    }
    @media (max-width: $r_tab_900) {
        padding: 3rem 15px;
    }
    @media (max-width: $r_mob_640) {
        padding: 3rem 0px 3rem 15px;
    }
    &.out {
        transform: translateY(-100%);
    }
    &__menu {
        display: block;
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__contacts {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        @media (max-width: $r_tab_900) {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;
    }
    &__link {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
        }
    }
    &__line {
        display: block;
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__tel {
        @media (max-width: $r_mob_400) {
            font-size: 1.75rem;
        }
    }
    &__email {
        display: block;
        @media (max-width: $r_tab_900) {
            display: none;
        }
    }
    &__tel, &__email {
       color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
        } 
    }
    &__burger {
        display: none;
        @media (max-width: $r_tab_900) {
            display: block;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
            background-color: transparent;
            background-image: url(../images/burger.svg);
            background-repeat: no-repeat;
            background-position: center center;
            position: relative;
            border: none;
            padding: 0;
            transition: 0.2s;
            cursor: pointer;
        }
        @media (max-width: $r_mob_640) {
            margin-right: 10px;
        }
    }
}

.banner {
    padding-top: 11.4rem;
    margin-bottom: 16.6rem;
    @media (max-width: $r_tab) {
        margin-bottom: 8rem;
    }
    @media (max-width: $r_mob_640) {
        padding-top: 11rem;
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        margin-bottom: 11.7rem;
        @media (max-width: $r_mob_640) {
            margin-bottom: 8.7rem;
        }
        @media (max-width: $r_mob_400) {
            display: none;
        }
    }
    &__mob {
        display: none;
        @media (max-width: $r_mob_400) {
            display:block;
            width: 100%;
            height: 100%;
            margin-bottom: 7.5rem;
        } 
        @media (max-width: $r_mob_360) {
            margin-bottom: 8.75rem;
        }
    }
    &__title {
        position: relative;
    }
    &__flex {
        display: flex;
        justify-content: space-between;
        margin-top: 5.7rem;
        @media (max-width: $r_desk_1100) {
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            grid-row-gap: 36px;
        }
    }
}

.pattern-small {
    position: absolute;
    right: 37px;
    bottom: -166px;
    @media (max-width: $r_mob_540) {
        width: 60px;
        height: 60px;
        right: 25px;
        bottom: -142px;
    }
    @media (max-width: $r_mob_400) {
        right: 0;
        left: 82px;
        bottom: -202px;
    }
}
.pattern-big {
    position: absolute;
    top: -75px;
    left: -128px;
    @media (max-width: $r_mob_640) {
        width: 135px;
        height: 135px;
        top: -22px;
        left: -51px;
    }
    @media (max-width: $r_mob_360) {
        top: -30px;
    }
}
.pattern-140 {
    position: absolute;
    top: -47px;
    left: -69px;
    z-index: 1;
    @media (max-width: $r_tab) {
        top: -58px;
        left: -85px;
    }
}
.pattern-large {
    position: absolute;
    top: -92px;
    left: 347px;
    z-index: 1;
    @media (max-width: $r_desk_hd) {
        width: 300px;
        height: 300px;
        top: -40px;
    }
    @media (max-width: $r_tab) {
        width: 250px;
        height: 250px;
        left: 311px;
    }
    @media (max-width: $r_mob_640) {
        left: 210px;
    }
    @media (max-width: $r_mob_470) {
        width: 197px;
        height: 197px;
        top: -31px;
        left: 162px;
    }
    @media (max-width: $r_mob_360) {
        width: 150px;
        height: 150px;
        top: -27px;
        left: 166px;
    }
}
.pattern-90 {
    position: absolute;
    left: -46px;
    bottom: 21px;
    z-index: 1;
    @media (max-width: $r_tab_900) {
        bottom: 8px;
    }
    @media (max-width: $r_tab) {
        bottom: -15px;
    }
    @media (max-width: $r_mob_500) {
        bottom: 23px;
    }
}
.pattern-300 {
    position: absolute;
    top: -30px;
    left: -152px;
    @media (max-width: $r_tab_900) {
        left: -66px;
        width: 190px;
        height: 190px;
    }
    @media (max-width: $r_tab) {
        top: -75px;
    }
}
.triangle {
    position: absolute;
    top: -17px;
    left: -150px;
    @media (max-width: $r_mob_640) {
        width: 28px;
        height: 41px;
        top: 96px;
        left: 5px;
    }
    @media (max-width: $r_mob_360) {
        top: 86px;
    }
}
.triangle-small {
    position: absolute;
    top: 26px;
    left: -176px;
    @media (max-width: $r_tab_900) {
        width: 32px;
        height: 40px;
        top: 79px;
        left: 91px;
    }
    @media (max-width: $r_tab) {
        top: -60px;
        left: 102px;
    }
}

.headline {
    &__discuss {
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background: transparent;
            display: block;
            margin-top: 9px;
            transition: .3s;
        }
        &:hover {
            &::after {
                background: #2B3541;
                transition: 0.3s;
            }
            cursor: pointer; 
        }
    }
}

.box {
    max-width: 25.8rem;
    @media (max-width: $r_mob_540) {
        max-width: 16.8rem;
    }
    &__title {
        letter-spacing: 0.03em;
        text-transform: uppercase;
        line-height: 150%;  
        margin: 0;    
    }
    &__text {
        margin-top: 1.5rem;
        opacity: .8;
        line-height: 150%;
        @media (max-width: $r_mob_540) {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.25rem;
        }
    }
}

.about {
    margin-bottom: 15.3rem;
    @media (max-width: $r_tab_900) {
        margin-bottom: 6rem;
    }
    &__header {
        align-items: flex-start;
        margin-bottom: 4.7rem;
        @media (max-width: $r_tab_900) {
            justify-content: flex-start;
        }
        @media (max-width: $r_tab) {
            margin-top: 0;
        }
        @media (max-width: $r_mob_650) {
            flex-direction: column;
            margin-bottom: 4rem;
        }
        @media (max-width: 359px) {
            margin-bottom: 3rem;
        }
    }
    &__title-left {
        text-transform: uppercase;
        z-index: 2;
        @media (max-width: $r_tab_900) {
            margin-right: 19rem;
        }
        @media (max-width: $r_tab) {
            margin-right: 21rem;
        }
        @media (max-width: $r_mob_650) {
           margin-bottom: 20px;
        }
        @media (max-width: 359px) {
            margin-bottom: 0;
        }
    }
    &__title-right {
        max-width: 56rem;
        z-index: 2;
        @media (max-width: $r_tab_900) {
            max-width: 43rem;
        }
        @media (max-width: $r_tab) {
            max-width: 32rem;
        }
        @media (max-width: $r_mob_400) {
            max-width: 40rem;
        }
    }
    &__title-left, &__title-right {
        @media (max-width: $r_tab_900) {
            font-size: 2rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 2rem;
        }
        @media (max-width: 359px) {
            font-size: 1.5rem;
        }
    }
    &__grid {
        max-width: 56rem;
        display: grid;
        grid-template-columns: 1.07fr 1fr;
        grid-template-rows: 2.12fr 1.5fr;
        margin-left: auto;
        margin-right: 0;
        margin-top: 6rem;
        @media (max-width: $r_tab_900) {
            margin-left: 0;
            margin-right: auto;
        }
    }
    &__advantage {
        margin-top: 0;
        margin-bottom: 23px;
    }
}

.steps {
    &__box {
        display: flex;
        align-items: center;
        margin-bottom: -1.2rem;
        @media (max-width: $r_desk) {
            gap: 30px;
        }
        @media (max-width: $r_mob_470) {
           flex-direction: column;
           align-items: flex-start;
           gap: 0;
        }
    }
    &__number {
        flex-basis: 6.1%;
    }
    &__name {
        flex-basis: 51.7%;
        @media (max-width: $r_desk_hd) {
            font-size: 2.2rem;
            flex-basis: 38vw;
        }
        @media (max-width: $r_tab_900) {
            font-size: 1.6rem;
            flex-basis: 158px;
        }
        @media (max-width: $r_mob_470) {
            flex-basis: 0;
            margin-bottom: 0;
        }
        @media (max-width: $r_mob_400) {
            font-size: 2rem;
        }
    }
    &__about {
        @media (max-width: $r_desk_hd) {
            font-size: 1.4rem;
        } 
        @media (max-width: $r_tab_900) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_tab) {
            flex-basis: 48vw;
        }
        @media (max-width: $r_mob_470) {
            flex-basis: 0;
            margin-top: 5px;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
}


.portfolio {
    padding-top: 3rem;
    &__header {
        position: relative;
        margin-top: 18rem;
        padding-bottom: 9.5rem;
        @media (max-width: $r_tab) {
            padding-bottom: 7.8rem;
        }
        @media (max-width: $r_mob_470) {
            margin-top: 15rem;
            padding-bottom: 5.8rem;
        }
        @media (max-width: $r_mob_400) {
            padding-bottom: 7.25rem;
        }
    }
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        margin-bottom: 4.5rem;
        @media (max-width: $r_tab) {
            flex-direction: column;
            margin-top: 3rem;
            margin-bottom: 3.5rem;
        }
    }
    &__text {
        flex-basis: 34rem;
        @media (max-width: $r_tab) {
            flex-basis: 28rem;
        }
        &_small {
            flex-basis: 25rem;
        }
    }

    &__title {
        text-decoration: none;
        color: $black;
        @media (max-width: $r_desk) {
            font-size: 1.6rem;
        }
        @media (max-width: $r_tab) {
            font-size: 2.6rem;
            text-decoration: underline;
        }
        @media (max-width: $r_mob_400) {
            font-size: 2rem;
        }
    }
    &__benefits {
        margin-top: 4rem;
        margin-bottom: 4rem;
        @media (max-width: $r_tab_900) {
            max-width: 300px;
        }
        @media (max-width: $r_tab) {
            margin-top: 3rem;
            margin-bottom: 3rem;
            max-width: 460px;
        }
        @media (max-width: $r_mob_400) {
            max-width: 285px;
        }
    }
    &__p, &__time {
        @media (max-width: $r_desk) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.8rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
    &__slider {
        width: 560px;
        height: 370px;
        overflow: hidden;
        border: 2mm outset rgba(189, 189, 185, 0.3);
        border-radius: 10px;
        background-color: $white;
        z-index: 2;
        @media (max-width: $r_desk) {
            width: 450px;
            height: 300px;
        }
        @media (max-width: $r_tab_900) {
            width: 470px;
            height: 313px;
        }
        @media (max-width: $r_tab) {
            width: 502px;
            height: 337px;
        }
        @media (max-width: $r_mob_540) {
            width: 340px;
            height: 190px;
        }
        @media (max-width: $r_mob_400) {
            width: 300px;
            height: 195px;
        }
        @media (max-width: $r_mob_360) {
            width: 256px;
            height: 168px;
        }
    }
}

.swiper {
    &__img {
        width: 100%;
        height: auto;
    }
}

.pluses {
    margin-bottom: 16.8rem;
    @media (max-width: $r_tab_900) {
        margin-bottom: 11.8rem;
    }
    @media (max-width: $r_mob_640) {
        margin-bottom: 9.8rem;
    }
    @media (max-width: $r_mob_540) {
        margin-bottom: 8rem;
    }
    @media (max-width: $r_mob_470) {
        margin-bottom: 6rem;
    }
    &__title {
        max-width: 87rem;
        margin-top: 17.6rem;
        margin-bottom: 6.7rem;
        @media (max-width: $r_tab) {
            font-size: 2rem;
            margin-top: 11.6rem;
            margin-bottom: 4.7rem;
        }
        @media (max-width: $r_mob_540) {
            font-size: 1.6rem;
            margin-top: 8.6rem;
            margin-bottom: 2.7rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.75rem;
            margin-top: 7.6rem;
        }
        @media (max-width: $r_mob_360) {
            font-size: 1.5rem;
            margin-top: 5.6rem;
        }
        &_small {
            @media (max-width: $r_desk_hd) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_desk_1100) {
                font-size: 1.6rem;
            }
            @media (max-width: $r_tab_900) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_tab) {
                font-size: 1.6rem;
            }
            @media (max-width: $r_mob_600) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob_540) {
                font-size: 1.6rem;
            }
            @media (max-width: $r_mob_400) {
                font-size: 1.5rem;
            }
        }
    }
    &__text {
        @media (max-width: $r_desk_hd) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_desk_1100) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_tab_900) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_600) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_540) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2.1fr 1fr;
        margin-top: .8rem;
        @media (max-width: $r_desk_1100) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 135px 135px 135px;
        }
        @media (max-width: $r_tab) {
            gap: 20px;
        }
        @media (max-width: $r_mob_540) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 4rem;
        }
    }
    &__box {
        display: flex;
        align-items: center;
        gap: 4.1rem;
        @media (max-width: $r_desk_hd) {
            gap: 3rem;
        }
        @media (max-width: $r_desk_1100) {
            gap: 4.1rem;
        }
        @media (max-width: $r_tab_900) {
            gap: 3rem;
        }
        @media (max-width: $r_tab) {
            max-width: 267px;
        }
        @media (max-width: $r_mob_540) {
            max-width: 300px;
        }
    }
    &__img {
        width: 40px;
        height: 40px;
        @media (max-width: $r_desk_hd) {
            width: 30px;
            height: 30px;
        }
        @media (max-width: $r_desk_1100) {
            width: 40px;
            height: 40px;
        }
        @media (max-width: $r_tab_900) {
            width: 30px;
            height: 30px;
        }
    }
    &__block {
        max-width: 24.4rem;
    }    
}

.skills {
    margin-bottom: 18rem;
    @media (max-width: $r_tab_900) {
        margin-bottom: 15rem;
    }
    @media (max-width: $r_mob_640) {
        margin-bottom: 8rem;
    }
    &__grid {
        display: grid;
        justify-content: center;
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
        @media (max-width: $r_desk_hd) {
            grid-template: repeat(2, 1fr)/repeat(4, 217px);
        }
        @media (max-width: $r_tab_900) {
            grid-template: repeat(2, 1fr)/repeat(4, 147px);
        }
        @media (max-width: $r_mob_640) {
            grid-template: repeat(2, 1fr)/repeat(4, 107px);
        }
        @media (max-width: $r_mob_470) {
            grid-template: repeat(4, 1fr)/repeat(2, 151px);
        }
        @media (max-width: $r_mob_360) {
            grid-template: repeat(4, 1fr)/repeat(2, 135px);
        }
        :hover {
            .skills__img {
                filter: grayscale(0);
                opacity: 1;
                cursor: pointer;
                transition: .3s;
            }
        }
    }
    &__box {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 28.6rem;
        height: 14.8rem;
        border: 1px solid rgba(1, 1, 1, 0.3);
        @media (max-width: $r_desk_hd) {
            width: 21.6rem;
            height: 12.8rem;
        }
        @media (max-width: $r_tab_900) {
            width: 14.6rem;
            height: 8.8rem;
        }
        @media (max-width: $r_mob_640) {
            width: 10.6rem;
            height: 5.8rem;
        }
        @media (max-width: $r_mob_470) {
            width: 15rem;
            height: 6.8rem;
        }
        @media (max-width: $r_mob_400) {
            width: 18.75rem;
            height: 8.5rem;
        }
        @media (max-width: $r_mob_360) {
            width: 16.75rem;
        }
        :hover {
            filter: grayscale(0);
            opacity: 1;
            cursor: pointer;
            transition: .3s;
        }
    }
    &__img {
        filter: grayscale(1);
        opacity: .3;
        @media (max-width: $r_tab_900) {
            width: 50px;
            height: auto;
        }
        @media (max-width: $r_mob_640) {
            width: 32px;
        }
        @media (max-width: $r_mob_470) {
            width: 35px;
        }
    }
}

.tooltip {
   position: relative;
   &__text {
        visibility: hidden;
        position: relative;
        width: 23.2rem;
        font-size: 10px;
        font-weight: 400;
        line-height: 150%;
        background-image: url(/src/images/tooltip.svg);
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        text-align: center;
        padding: 27px 15px;
        top: 130px;
        left: 11px;
        /* Position the tooltip */
        position: absolute;
        z-index: 3;
        opacity: 0;
        transition: .3s;
        @media (max-width: $r_desk_hd) {
            background-size: contain;
            width: 17.2rem;
            padding: 11px 17px;
            top: 114px;
            left: 8px;
        }
        @media (max-width: $r_tab_900) {
            top: 85px;
            left: -26px;
        }
        @media (max-width: $r_mob_640) {
            font-size: 8px;
            width: 13.2rem;
            padding: 5px 10px;
            top: 57px;
            left: -21px;
        }
        @media (max-width: $r_mob_470) {
            top: 67px;
            left: 2px;
        }
        @media (max-width: $r_mob_400) {
            width: 16.5rem;
        }
        @media (max-width: $r_mob_360) {
            top: 66px;
            left: -7px;
        }
   }
   &:hover {
       .tooltip__text {
            visibility: visible;
            opacity: 1;
        }
   }
}
.price {
    margin-bottom: 14.7rem;
    @media (max-width: $r_mob_500) {
        margin-bottom: 9.7rem;
    }
    &__header {
        align-items: flex-start;
        margin-bottom: 6.8rem;
        position: relative;
        @media (max-width: $r_tab) {
            margin-bottom: 4.8rem;
        }
        @media (max-width: $r_mob_650) {
            flex-direction: column;
            margin-bottom: 3rem;
        }
    }
    &__title {
        letter-spacing: 0.03em;
        position: relative;
        &_left {
            @media (max-width: $r_desk) {
                font-size: 2.2rem;
            }
            @media (max-width: $r_tab) {
                font-size: 1.6rem;
            }
            @media (max-width: $r_mob_500) {
                font-weight: 700;
            }
            @media (max-width: $r_mob_400) {
                font-size: 2rem;
            }
        }
        &_right {
            @media (max-width: $r_tab) {
                font-size: 1.2rem;
            }
            @media (max-width: $r_mob_400) {
                font-size: 1.5rem;
            }
        }
    }
    &__box {
        display: flex;
        gap: 19.1rem;
        margin-bottom: 1.1rem;
        @media (max-width: $r_desk_hd) {
            justify-content: flex-start;
        }
        @media (max-width: $r_desk) {
            gap: 10rem;
        }
        @media (max-width: $r_tab_900) {
            gap: 8rem;
        }
        @media (max-width: $r_tab) {
            gap: 6rem;
        }
        @media (max-width: $r_mob_500) {
            flex-direction: column;
            gap: 0rem;
        }
    }
    &__left {
        max-width: 39rem;
        margin-top: 2.8rem;
        @media (max-width: $r_desk) {
            flex-basis: 38vw;
        }
        @media (max-width: $r_tab_900) {
            flex-basis: 32vw;
        }
        @media (max-width: $r_tab) {
            flex-basis: 28vw;
        }
        @media (max-width: $r_mob_640) {
            flex-basis: 200px;
        }
        @media (max-width: $r_mob_500) {
            flex-basis: 133px;
        }
    }
    &__text {
        margin-top: -0.5rem;
        margin-bottom: 8.1rem;
        @media (max-width: $r_desk) {
            font-size: 1.4rem;
            margin-bottom: 4.1rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.25rem;
        }
    }
    &__discuss {
        @media (max-width: $r_mob_540) {
            font-size: 1.6rem;
        }
    }
    &__right {
        margin-top: 4.3rem;
        position: relative;
        @media (max-width: $r_mob_640) {
            flex-basis: 250px;
        }
    }
    &__ul {
        padding-left: 16px;
        margin-top: 2.3rem;
        z-index: 2;
        position: relative;
        @media (max-width: $r_tab) {
            font-size: 1.2rem;
            margin-top: 0;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
    &__list {
        line-height: 3.2rem;
    }
    &__cost {
        font-weight: 700;
        font-size: 4.2rem;
        margin-top: 4.8rem;
        position: relative;
        z-index: 2;
        @media (max-width: $r_desk) {
            font-size: 3.2rem;
        }
        @media (max-width: $r_tab_900) {
            font-size: 2.2rem;
        }
        @media (max-width: $r_tab) {
            margin-top: 1.8rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 2.75rem;
        }
    }
    &__button {
        max-width: 18rem;
        @media (max-width: $r_tab_900) {
            font-size: 1.2rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
}

.contacts {
    margin-bottom: 11.7rem;
    @media (max-width: 767px) {
        margin-bottom: 60px;
    }
    &__container {
        padding: 0 0 0 15px;
    }
    &__header {
        align-items: flex-start;
        margin-bottom: 4.7rem;
        position: relative;
        @media (max-width: $r_tab) {
            margin-bottom: 3rem;
        }
        @media (max-width: $r_mob_640) {
            flex-direction: column;
        }
    }
    &__title {
        max-width: 28.9rem;
        letter-spacing: 0.03em;
        position: relative;
        @media (max-width: $r_desk) {
            font-size: 2.4rem;
        }
        @media (max-width: $r_tab_900) {
            font-size: 2rem;
            margin-right: 0;
        }
        @media (max-width: $r_tab) {
            font-size: 1.6rem;
        }
    }
    &__text {
        @media (max-width: $r_desk) {
            font-size: 2rem;  
            max-width: 40rem;
        }
        @media (max-width: $r_tab) {
            font-size: 1.6rem;  
            max-width: 37rem;
        }
    }
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 5.8rem;
        @media (max-width: 767px) {
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        @media (max-width: $r_desk_hd) {
            margin-right: 15px;
        }
        @media (max-width: 767px) {
            margin-right: 15px;
            margin-bottom: 60px;
        }
       /* &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(243, 242, 240, 0.7) url(/src/images/loading.gif) center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease 0s;
            z-index: 3;
        }
        &._sending {
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }*/
    }
    &__label {
        color: $black;
        font-size: 12px;
        opacity: .8;
        margin-bottom: 11px;
    }
    &__input {
        width: 53.8rem;
        height: 6.1rem;
        background-color: rgba(1, 1, 1, .05);
        border: none;
        outline: none;
        opacity: 1;
        font-size: 12px;
        padding-left: 20px;
        margin-bottom: 2.6rem;
        @media (max-width: $r_desk) {
            width: 37.8rem;
        }
        @media (max-width: $r_mob_540) {
            width: 30.8rem;
        }
        @media (max-width: 359px) {
            width: 27.8rem;
        }
        &::placeholder {
            opacity: 0.2;
            font-size: 12px;
        }
        &:focus {
            background-color: rgba(1, 1, 1, .07);
        }
    }
    &__button {
        text-decoration: none;
        background-color: #D40000;
        border: none;
        padding: 2.4rem 23.6rem;
        color: $white;
        position: relative;
        overflow:hidden;
        z-index: 1;
        margin-top: 40px;
        cursor: pointer;
        transition: .3s;
        @media (max-width: $r_desk) {
            padding: 2.4rem 15.6rem;
        }
        @media (max-width: $r_mob_540) {
            font-size: 1.6rem;
            padding: 2.4rem 12.1rem;
        }
        @media (max-width: 359px) {
            padding: 2.4rem 87px;
        }
    }
    
}

#btn:before {
    content: '';
    position:absolute;
    left: var(--x);
    top: var(--y);
    width: 0px;
    height: 0px;
    background: radial-gradient(circle closest-side, #ff0000, #FF000000);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: width 0.3s linear, height 0.3s linear;
}
#btn:hover:before {
    width: 15rem;
    height: 15rem;
}

#btn2:before {
    content: '';
    position:absolute;
    left: var(--x2);
    top: var(--y2);
    width: 0px;
    height: 0px;
    background: radial-gradient(circle closest-side, #ff0000, #FF000000);
    border-radius: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: width 0.3s linear, height 0.3s linear;
}
#btn2:hover:before {
    width: 15rem;
    height: 15rem;
}

.footer {
    &__box {
        max-width: 1140px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        padding: 5.7rem 0 2.6rem 0;
        z-index: 3;
        @media (max-width: $r_desk) {
            flex-direction: column-reverse;
            padding: 3.7rem 0 2.6rem 0;
            gap: 20px;
        }
        @media (max-width: $r_mob_400) {
            gap: 30px;
        }
    }
    &__menu {   
        flex-basis: 75.3%;
        @media (max-width: $r_desk_hd) {
            flex-basis: 51.3%;
        }
        @media (max-width: $r_mob_540) {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.5rem;
        }
    }
    &__nav {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        gap: 2.8rem;
        @media (max-width: $r_mob_540) {
            gap: 1.8rem;
        }
        @media (max-width: $r_mob_400) {
            flex-direction: column;
            text-align: center;
        }
    }
    &__link {
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
        }
    }
    &__contacts {
        display: flex;
        gap: 13px;
        align-items: center;
        @media (max-width: $r_mob_540) {
            font-size: 1.4rem;
        }
        @media (max-width: $r_mob_400) {
            font-size: 1.75rem;
        }
    }
    &__tel, &__email {
       color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover {
            color: $red;
        } 
    }
    &__title {
        font-size: 12px;
        line-height: 150%;
        color: rgba(43, 53, 65, 0.3);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1141px;
        @media (max-width: $r_tab) {
            font-size: 1rem;
        }
        @media (max-width: $r_mob_540) {
            flex-direction: column;
            align-items: center;
        }
        & a {
            color: rgba(43, 53, 65, 0.3);
            &:hover {
                color: rgba(43, 53, 65, 1);
            }
        }
    }
    &__law {
        @media (max-width: $r_mob_540) {
            margin: 0;
        }
    }
}


/* *******************
Dropdown (выбрать способ связи)
******************* */

.dropdown {
    position: relative;
    background: #DDD;
    z-index: 2;
  
    &__button {
      position: relative;
      display: block;
      width: 55.8rem;
      text-align: left;
      background: transparent;
      padding: 24px 20px;
      font-size: 14px;
      line-height: 150%;
      cursor: pointer;
      border: none;
      @media (max-width: $r_desk) {
        width: 40rem;
      }
      @media (max-width: $r_mob_540) {
        width: 33.1rem;
      }
      @media (max-width: $r_mob_400) {
        height: 6.5rem;
        padding: 16px 20px;
      }
      @media (max-width: 359px) {
        font-size: 12px;
        width: 30.5rem;
      }
    }
  
      &__button_arrow {
      content: "";
      position: absolute;
      background-image: url(../images/Arrow_btn.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 12px;
      height: 7px;
      right: 24px;
      top: 50%;
      z-index: 2;
      display: block;
      transform: translateY(-50%);
      pointer-events: none;
      transition: .2s ease-in-out;
  
      &-active {
        transform: rotate(180deg);
        top: 44%;
      }
    }
  
    &__list {
      position: absolute;
      left: 0;
      top: 52px;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      transition: .3s linear;
    }
  
    &__wrap {
      margin: 0;
      padding: 0;
      background: #DDD;
      padding-top: 7px;
      scrollbar-width: none;
      overflow: auto;
      &::-webkit-scrollbar {
        width: 0px;
        }
    }
  
    &__list-item {
      font-size: 12px;
      margin: 0;
      padding: 0;
      background: #dddddc;
      color: rgba($black, 0.4);
      padding: 13px 20px;
      cursor: pointer;
      &:hover {
        color: $black;
      }
    }
  
  }
  
  .dropdown__list--visible {
    visibility: visible;
    opacity: 1;
  } 
  .dropdown__input-hidden {
    display: none;
  }
  
  .theme {
    height: 1px;
    width: 1px;
    margin-left: 20px;
  
    @media (max-width: $r_desk_hd) {
      margin-left: 30px;
    }
  
    @media (max-width: $r_tab) {
      margin-left: 50px;
    }
  }
  
  .checkbox {
    position: relative;
    z-index: -1;
    opacity: 0;
  }
  
  .checkbox+label {
    position: relative;
    cursor: pointer;
  }
  
  .checkbox+label:before {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 35px;
    height: 18px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .4);
    transform: translateY(-50%);
    transition: .2s;
  }
  
  .checkbox+label:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    transform: translateY(-50%);
    transition: .2s;
  }
  
  .checkbox:checked+label:before {
    background: $white-g;
  }
  
  .checkbox:checked+label:after {
    right: 17px;
  }
  
  .to-up {
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    background: $gr1;
    color: $white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    z-index: 5;
    transform: scale(1);
    transition: .3s linear;
  
    .black_th &:hover {
      text-decoration: none;
      transform: scale(1.2);
    }
  }
  
  .visible {
    opacity: .7;
  }
  
  .scroll-height {
    scroll-margin-top: 80px;
  }
  
  .example-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    opacity: 0;
    height: 100vh;
  }
  
  

/* ********************
Pop-up Обсудить проект
******************** */

.overlay {
    display:none; 
    position:fixed; 
    z-index:999; 
    opacity:0.5; 
    filter:alpha(opacity=50); 
    top:0; 
    right:0; 
    left:0; 
    bottom:0; 
    background:#000; 
}
.popup {
    display:none; 
    position:fixed; 
    background: $grey; 
    width: 56rem;
    height: 51.2rem;
    top: 18%;
    left: 0;
    right: 0; 
    margin:0 auto; 
    z-index:1000;  
    padding:30px;
    @media (max-width: $r_desk) {
        width: 40rem;
    }
    @media (max-height: 700px) {
        top: 3%;
    }
    @media (max-width: $r_mob_540) {
        width: 33rem;
        height: 49.2rem;
        padding: 23px 20px;
        top: 20%;
    }
    @media (max-width: $r_mob_400) {
        height: 54rem;
    }
    @media (max-width: 359px) {
        width: 31rem;
        padding: 17px;
    }
    &__box {
        margin: 30px auto 0;
        @media (max-width: $r_mob_540) {
            margin: 41px auto 0;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-align: center;
        @media (max-width: $r_mob_540) {
            font-size: 16px;
        }
    }
    &__text {
        line-height: 150%;
        text-align: center;
        max-width: 32.2rem;
        margin: 0 auto 17px;
        @media (max-width: $r_mob_540) {
            margin: 0 auto 5px;
        }
    }
    &__form {
        margin: 3.9rem auto;
        @media (max-width: $r_mob_400) {
            margin: 2.9rem auto;
        }
    }
}
.close {
    display:block; 
    width:24px; 
    text-align:center; 
    cursor:pointer; 
    height:24px; 
    line-height:24px;  
    position:absolute; 
    top: 20px;
    right: 18px; 
    text-decoration:none; 
    border-radius:3px; 
    font-size:20px; 
}

/* ********************
Pop-up Бургер меню
******************** */

.overlay {
    display:none; 
    position:fixed; 
    z-index:999; 
    opacity:0.5; 
    filter:alpha(opacity=50); 
    top:0; 
    right:0; 
    left:0; 
    bottom:0; 
    background:#000; 
}
.burger {
    display:none; 
    position: fixed;
    background: #F3F2F0;
    width: 98%;
    height: 56rem;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    padding: 10px;
    @media (max-width: $r_mob_400) {
        height: 66rem;
    }
    @media (max-width: 359px) {
        height: 63rem;
    }
    &__box {
        margin: 63px auto 0;
    }
    &__menu {
        font-size: 2.6rem;
        @media (max-width: 359px) {
            font-size: 2rem;
        }
    }
    &__nav {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-bottom: 40px;
    }
    &__line {
        opacity: .2;
    }
    &__contacts {
        justify-content: center;
        margin-bottom: 20px;
    }
    &__socials {
        margin: 0 auto;
        @media (max-width: $r_mob_470) {
            max-width: 200px;
        }
    }
}
.close {
    display:block; 
    width:24px; 
    text-align:center; 
    cursor:pointer; 
    height:24px; 
    line-height:24px;  
    position:absolute; 
    top: 20px;
    right: 18px; 
    text-decoration:none; 
    border-radius:3px; 
    font-size:20px; 
}

  